/*
 * Base structure
 */

/* Angular-ui */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*
 * Typography
 */

body {
  font-family: OpenSans,Arial,sans-serif;
}

h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
  font-size: 36px;
  margin-top: 80px;
}

.env_button_grp {
  padding-bottom: 15px;
}
.main {
  width:90%;
  margin: 0px auto 0px auto;
}

.navbar-fixed-left {
  width: 180px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 167px;
  padding-left: 10px; 
  font-size: 13px;
}
.navbar-fixed-left .navbar-nav > li > a {
  color: #53d4b0;
  padding: 5px 0 5px 20px;
}

.navbar-nav > .active > a {
  background-color: #117f6c !important;
  border-radius: 3px;
}

.navbar-brand {
  height: 135px;
}

.navbar-brand>img {
  height: 46px;
  margin-bottom: 15px;
}


.logo_span {
  color: white;
  /*  margin-left: 30px; */
}


.expand_span {
  font-size: 16px;
  padding-left: 8px;
  margin-top: 1px;
  display: block;
  float: right;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

.container-fluid {
  padding-left: 180px;
}
.navbar-fixed-left + .container {
  padding-left: 180px;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 0;
}

th {
  border-color: #3d3d3d;
  border-top: 0;
  color: #e5e5e5;
  background-color: #444;
  text-align: left;
  vertical-align: top;
}

.table>tbody>tr>td {
  display: table-cell;
  vertical-align: inherit;
  padding: 10px 14px;
  font-size: 13px;
  text-align: left;
}
.table>tbody>tr {
  border-color: #e5e5e5 !important;
  border-bottom: 1px solid;
}

.tr_repeat:last-of-type {
  border: none;
}

.panel-group .panel {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.env_select {
  margin-top: 50px;
}

.envs_create_new {
  margin: 15px auto 15px auto;
}

.gimme_space {
  padding: 15px 0 15px 0;
}

#create_button_env{
  height: 300px;
}

#loader {
  position: absolute;
  left: 80%;
  top: 68px;
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1; /* make sure logout_box has a z-index of 2 */
  background-color: #ddd;
  opacity: 0.3;
}

.deets-title {
  clear: left;
  margin-right: 15px;
  color: #666;
  font-size: 13px;
  float: left;
  font-weight: 700;
}

