/*
 * Base structure
 */

/* Angular-ui */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
}

.container {
  width: 95%;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.env_actions {
  background-color: #f9f9f9;
  padding: 10px;
}

