<h1>Deployed Code Environments</h1>
<uib-accordion  close-others="oneAtATime">
  <div uib-accordion-group class="panel-default" heading="{{name}}" ng-repeat="(name,modules) in envs">
        <div class="table-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Module</th>
                <th>Version</th>
              </tr>
            </thead>
            <tbody ng-repeat="(name, version) in modules">
              <tr>
                <td ng-if="$odd"  style="background-color:#f1f1f1">{{ name }}</td>
                <td ng-if="$even" style="background-color:white">{{ name }}</td>
                <td ng-if="$odd"  style="background-color:#f1f1f1">{{ version }}</td>
                <td ng-if="$even" style="background-color:white">{{ version }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</uib-accordion>
