<h1>Deployed Code Environments</h1>
<hr />
<uib-accordion  close-others="oneAtATime">
  <div uib-accordion-group class="panel-default" ng-repeat="(name,modules) in envs" is-open="status.open">
    <uib-accordion-heading>
      <icon class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" />
      <span class="expand_span">{{name}}</span>
    </uib-accordion-heading>
    <div class="panel-body">
      <div class="btn-group env_button_grp">
        <a href="#!env_compare_prep/{{name}}" class="btn btn-default" role="button">Compare</a>
        <a href="/envs/{{name}}/download" class="btn btn-default" role="button">Download</a>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Module</th>
            <th>Version</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(name, version) in modules" class="tr_repeat">
            <td>{{ name }}</td>
            <td>
              <a href="#!mod_detail/{{name}}/{{version}}"
                  class="btn btn-default" role="button">{{ version }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</uib-accordion>
