
<div ng-show="!loading && !loaded">
  <h1>Deployed Code Environments</h1>
  <hr />
</div>

<div class="jumbotron env_select" ng-show="loaded">
  <h3>Removed environment {{deleted_env}}!</h3>
  <a href="#!/" class="btn btn-default" role="button">Done</a>
</div>

<div class="jumbotron env_select" ng-show="loading">
  <h3>Removing environment {{deleted_env}}</h3>
</div>



<div class="envs_create_new" ng-show="!loading && !loaded">
  <a href="#!env_create" class="btn btn-default" role="button">Create New Environment</a>
</div>
<uib-accordion  close-others="oneAtATime" ng-show="!loading && !loaded">
  <div uib-accordion-group class="panel-default" ng-repeat="(name,modules) in envs" is-open="status.open">
    <uib-accordion-heading>
      <icon class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" />
      <span class="expand_span">{{name}}</span>
    </uib-accordion-heading>
    <div class="panel-body">
      <div class="btn-group env_button_grp" uib-dropdown>
        <button id="comapre_{{name}}" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">Compare<span class="caret"></span>
        </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="compare_{{name}}">
              <li role="menuitem" ng-repeat="(other_env,mods) in envs" ng-if="other_env != name"><a href="#!env_compare/{{name}}/{{other_env}}">{{other_env}}</a>
            </ul>
        <a class="btn btn-default" role="button" ng-click="addmodule[name] = true" >Add Module</a>
        <a href="/api/envs/{{name}}/download" class="btn btn-default" role="button">Download</a>
        <a confirmed-click="delete_env(name)" class="btn btn-danger" role="button"
        ng-confirm-box-click="Are you sure want to delete environment {{name}}?">Delete</a>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Module</th>
            <th>Version</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(n,v) in modules" class="tr_repeat">
            <td>{{ n }}</td>
            <td>
              <a href="#!mod_detail/{{n}}/{{v}}"
                  class="btn btn-default" role="button">{{ v }}</a>
            </td>
            <td>
              <a href="#!env_update/{{name}}/{{n}}/{{v}}">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
              &nbsp;
              <a confirmed-click="remove_module(name,n)" 
                 ng-confirm-box-click="Are you sure want to delete {{n}} from environment {{name}}?" >
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot ng-show="addmodule[name]">
          <tr class="tr_repeat">
            <td>
              <select
              class="form-control"
              ng-model="moduleAdd[name]" >
                <option value="">Select a module to deploy...</option>
                <option ng-repeat="(n,v) in allmodules" value="{{n}}">{{n}}</option>
              </select>
            </td>
            <td>
              <select
                 ng-disabled="moduleAdd[name]"
                 class="form-control"
                 ng-model="versionAdd[name]">
                <option value="">Select a version to deploy...</option>
                <option ng-repeat="v in allmodules[moduleAdd[name]]" value="{{v}}">{{v}}</option>
              </select>
            </td>
            <td><button ng-disabled="Version" class="btn btn-default" ng-click="Add()">Add</button></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</uib-accordion>


<div id="loader" ng-show="loading"></div>
