<div class="jumbotron">
  <h3> Module [{{name}}] at version [{{version}}] is in use in the following environments:</h2>
</div>
<br />
<div>
  <table id="module-list" class="table table-striped table-hover">
  <thead>
      <tr>
        <th>Environment(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="e in envs" ng-if="envs.length > 0">
        <td>{{ e }}</td>
      </tr>
      <tr ng-if="envs.length === 0">
        <td>None found</td>
      </tr>
    </tbody>
  </table>

  <a href back-button class="btn btn-default" role="button">OK</a>
</div>
