<h1>Available Modules</h1>
<hr />
<table id="module-list" class="table table-hover">
  <thead>
    <tr>
      <th>Module</th>
      <th>Versions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(name, version) in modules" class="tr_repeat" >
      <td>{{ name }}</td>
      <td>
        <div class="btn-group">
          <a href="#!mod_detail/{{name}}/{{v}}"
            class="btn btn-default" role="button" ng-repeat="v in version">{{ v }}</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
